@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>I am deploying web application into azure . I did some changes in index cshtml</a>.</p>
</div>
